.AvatarPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Avatar {
    max-width: 125px;
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 10px;
  }
  label [type='file'] {
    margin-bottom: 10px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
  }
  .cropper {
    max-width: 300px;
    margin-bottom: 10px;
  }
}
