@import 'src/styles.scss';

.Account.container {
  max-width: 600px;

  .box {
    margin: auto;
    padding: 20px;

    .tabs li.active a {
      border-bottom-color: $green;
      color: $green;
      font-weight: 500;
    }
    .tabs a:hover {
      border-bottom-color: $grey;
      color: $grey;
    }
    .tabs a:focus {
      outline: thin dotted;
    }
  }
}
