@import 'src/styles.scss';

nav.navbar {
  background-color: transparent;

  .navbar-item {
    font-size: 25px;
    font-weight: 600;
    color: $white;

    &:hover {
      color: $white;
    }
    .navbar-logo {
      max-height: 2rem;
    }
  }

  .navbar-burger {
    color: $white;
    background: none;
    border: none;
  }
  .navbar-burger:focus {
    outline: thin dotted;
  }

  .navbar-menu {
    background-color: $primary-color;

    @media screen and (max-width: 1023px) {
      display: block;
      width: 100%;
      height: 0px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 40px;
      transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;

      &.is-active {
        display: block;
        height: 70px;
        opacity: 1;
        box-shadow: 0 16px 15px rgba(10, 10, 10, 0.1);
      }
    }
  }
}
