@import 'src/styles.scss';

form.section {
  max-width: 418px;
  margin: 10px 15px 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $white;
  border-radius: 5px;

  @media screen and (min-width: 500px) {
    margin: 10px auto 40px;
  }

  h1 {
    font-weight: 700;
    font-size: 24px;
  }

  p {
    color: $black;
    font-size: 16px;
    margin-bottom: 24px;
    &.help {
      font-size: 0.75rem;
    }
  }

  .notification.is-danger {
    padding: 1.25rem 1.5rem;
  }

  .label {
    color: $black;
    font-size: 14px;
    font-weight: 500;
  }

  .field {
    margin-bottom: 14px;
  }

  div.control.toLogin {
    display: flex;
    flex-shrink: 1;
    align-items: center;
    a {
      color: $black;
      &:hover {
        color: $black;
        text-decoration: underline;
      }
    }
  }
}
