@import "../styles.scss";

.columns.the-fold {
  margin: 0;
}

.the-fold {
  height: 90vh;

  .fold-text {
    color: $white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

		@media screen and (min-width: 1023px) {
      text-align: left;
      padding-left: 70px;
    }

    h1 {
      font-weight: 600;
      font-size: 50px;
    }
    p {
      font-size: 25px;
    }
  }
  .fold-image {
    display: flex;
    justify-content: center;
    align-items: center;


		@media screen and (min-width: 1023px) {
      padding-right: 70px;
    }

    img {
      border-radius: 50%;
    }
  }
}

.Feed {
  width: 100%;
  padding: 20px;
}