@import "../styles.scss";

form.section {
	max-width: 418px;
	margin: auto;
	padding-top: 25px;

	p {
		color: $white;
    font-size: 24px;
		margin-bottom: 24px;
		&.help {
			font-size: 0.75rem;
		}
	}

	.label {
		color: $white;
	}

	.checkbox-label {
		padding-left: 10px;
	}
	.button.is-text {
		font-size: 14px;
	}
	div.control.to-login {
		display: flex;
    align-items: center;
	}
}