@import 'src/styles.scss';

.Footer {
  background: $white;
  border-top: 1px solid darken($pastel-lavender, 6%);
  padding: 1.25rem 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: $grey;
}

.link {
  color: $primary-color;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
